@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover, button:hover {
    color: theme('colors.gold');
}

.text-drop-shadow {
    text-shadow: 1px 1px 1px black;
}

.funnel-shadow {
    box-shadow: 0px 0px 36px 4px rgb(0, 0, 0, 0.12);
}